<h3>Chart 6: Small multiple maps <small>?????</small></h3>
<p>Hey wait, that <a href='https://www.washingtonpost.com/graphics/national/power-plants'>Washington Post thing</a> had small multiples, didn't it? Let's do that, too.</p>
<p>Data is in <code>us_states.topojson</code> and <code>powerplants.csv</code>, because it's the SAME.</p>
<div id="chart-6">
</div>

<script src="scripts/homework-17/06-map.js"></script>
