<h3>Chart 3: Hex maps <small>moderate</small></h3>
<p>Use <a href="">this tool</a> to build a map. It comes with instructions <strong>and</strong> code!</p>
<p>Data is in <code>wolves.csv</code> and you'll need to create <code>canada.svg</code></p>
<div id="chart-3">
</div>

<script src="scripts/homework-17/03-map.js"></script>
