<h3>Chart 2: Points and lines <small>difficult</small></h3>
<p>Which airports can you <a href="http://nonstopfrom.com/new-york-jfk/">fly non-stop to</a> out of JFK? Let's plot the airports, and draw lines for the flights. We're going to use the <code>geoEqualEarth</code> projection.</p>
<p>Data is in <code>world.topojson</code>, <code>flights.csv</code>, and <code>airport-codes-subset.csv</code>. You'll need to build <code>flights.csv</code>.</p>
<div id="chart-2">
</div>

<script src="scripts/homework-17/02-map.js"></script>
