<h3>Chart 4a: An election choropleth <small>easy</small></h3>
<p>Because hey hey choropleths hey hey! Make the color related to who was voted for, then make the opacity related to how many people are in that county (<a href="http://andywoodruff.com/blog/value-by-alpha-maps/">see this</a>). Compare the map where you use opacity to the map where you don't. Be amazed!</p>
<p>For the 2016 election I'm missing data for Maine - you can use <code>counties.topojson</code> for 2012 or <code>counties_with_election_data.topojson</code> for 2016 (sans Maine). Want to learn about how to pick colors well? <a href="https://blog.datawrapper.de/choroplethmaps/">read this</a>.</p>
<p>Data is in <code>counties.topojson</code> or <code>counties_with_election_data.topojson</code>, depending on which election you want to work with.</p>
<div id="chart-4a">
</div>

<script src="scripts/homework-17/04a-map.js"></script>
