<h3>Chart 4b: An election choropleth <small>easy</small></h3>
<p>Make the same thing, but instead of using <code>colorScale</code> for Republicans vs. Democrats, just make it 100% one color if Republicans won and 100% another color if Democrats won. Compare with <strong>4a</strong> and think about how your color scale kind of screwed up with color-by-alpha thing.</p>
<div id="chart-4b">
</div>

<script src="scripts/homework-17/04b-map.js"></script>
