

<div class="story-body">
  <div class="col-12">
    <br>
    <br>
    <div id="barchart-02">
    </div>
    <p>The 1209 films in the current collection come from 44 different countries. Among them, films produced in the U.S. take up the majority. The U.S. also has the highest number of directors whose films are liscensed by CC.</p>

    <p>The graph on the left shows the number of films grouped by country, and the one on the right shows the number of directors by country. These two graphs havev very similar pattern. United States is listed as number 1 on both charts.

But the below graph says otherwise - if group all the CC liscensed films by individual director and count the number films for each, none of the top directors are from the U.S. </p>
  </div>
</div>

<script src="scripts/criterion_barchart2.js"></script>
