

<div class="story-body">
  <div class="col-12">
    <h3>WHERE?</h3>
    <p>Let's take a look at the origin of CC's liscensed films. Which continent has more films on the list? Which country has more director on the list?</p>
        </br>
    <div id="barchart-01">
    </div>
    <p>Criterion Collection has liscensed more than 270 films that were made in the 1960s, with a peak at the year of 1966, as a total of 33 films from 1966 are now avaliable on the site for the public to purchase.</p>

    <p>This also brings us to these following questions: why the 60s? Did more films get produced during that period of time in comparison to other moments in the film history? Or it was because the films made in the 60s had higher quality than the others? Or it was simply CC's preferance on films?</p>

    <p>Either way, the timeline somewhat reflects the rise and the decline of global art cinema.</p>
  </div>
</div>

<script src="scripts/criterion_barchart1.js"></script>
