

<div class="story-body">
  <div class="col-12">
    <h3>WHEN?</h3>
    <p>If you love films from the 60s, you are in luck! Criterion Collection got your back.</p>
    </br></br>
    <div id="linechart-01">
    </div>
    <p>Criterion Collection has liscensed more than 270 films that were made in the 1960s, with a peak at the year of 1966, as a total of 33 films from 1966 are now avaliable on the site for the public to purchase.</p>

    <p>This also brings us to these following questions: why the 60s? Did more films get produced during that period of time in comparison to other moments in the film history? Or it was because the films made in the 60s had higher quality than the others? Or it was simply CC's preferance on films?</p>

    <p>Either way, the timeline somewhat reflects the rise and the decline of global art cinema.</p>
  </div>
</div>

<script src="scripts/criterion_linechart.js"></script>
