
<div class="story-body">
  <div class="col-12">
    <h3>WHAT?</h3>
    <p>So what is Criterion Collection exactly? If you are a cinephile, you might already know the answer.</p>
    <p>If you have never heard of it, here is some short overview of this amazing thing: Criterion Collection is a distribution company that focuses on distributing "important classic and contemporary films". The company covers missions such as film restoration, publishing collectable blue-ray/DVD edition, critics’ commentary add-ons, and so on and so forth. </P>
     
   <br><br>

  
    <div id="scatterplot-01">
      
    </div>
     
   <p>From Italian Neorealism to French New Wave, from German Expressionism to Soviet montage, Criterion Collection has them all! It has recently released its epic "Godzilla" Collection for spine #1000, featuring Ishirō Honda’s 1954 original “Godzilla”, “King Kong vs. Godzilla” (1963), “Mothra vs. Godzilla” (1964), and more. </p>

   <p>Wait, what is a spine number? Someone might ask. The spine number is simply the number that marks the sorted order of entry into the collection, something that helps the collector to keep track of their film collection. </p>
  </div>
</div>

<br>
<script src="scripts/criterion_scatter.js"></script>
