<div class="story-body scrollytelling ">

    <div id="chart-02" class ='chart'></div>  

        <div class="steps">
            <div class='step', id ='empty'></div>
            <div class='step', id ='empty'>
                <p style="font-size:16px;">Every year, all new petitions make it through the lottery will either get approve or get denied. The graph on the left show the total number of initial approvals andd the total number of initial denails for first-time H-1B applicants from the year of 2010 to 2019.</p>
            </div>

            <div class='step' id='show'>
            <p style="font-size:13px;">Once approved, the H-1B visa holder is valid to work for up to three years, and they could renew for an additional three years. USCIS also requires H-1B holders to report and update their H-1B visa if they switch company. There is no need to draw a lottery in the above scenarios, but the USCIS reserve the rights to decide that the H-1B holder is not longer eligible and withdraw their work statuss.  </p>
            <p style="font-size:13px;">The total number of approvals/denails include those who are first-time applicants and those who has filed H-1B petition for 2 or more times.</p>
            </div>

            <div class='step' id='show-rect'>
            <p>The grey area highlights the period of <span style=" background-color:lightgrey ;padding-left:3px; padding-right:3px">Trump's administration</span>.</p>
            <p>As the line chart outlines, the number of total approvals for H-1B is in decline during Trump's administration, while the number of total denials rises. </p>
            <p>On April 18, 2017, Pressidednt Trump signed the Buy American and Hire American Executive Order, which, just by the title itself, appears to be an anti H-1B act.</p>
            </div>
            
            <div class='step'>
            <p>The number of total approval under <span style=" background-color:lightgrey ;padding-left:3px; padding-right:3px">Trump's addministration</span> drop much more drastically than the number of initial approval, suggesting that USCIS has implemented a much more rigorous check on the H-1B visa holders to eliminiate fraud and abuse.</p>
            </div>

            <div class = 'step' id = 'obama'>
                <p>But what is interesting is that, the most striking drop in H-1B approvals took place in 2015, before <span style=" background-color:lightgrey ;padding-left:3px; padding-right:3px">Trump</span> took office from <font color = 'orange'>Obama</font>. Although the total approvals number quickly grows back the next year. </p>
            </div>



        </div>

    </div>
</div>



<script src="scripts/final/chart-01.js"></script>
