<div class="story-body scrollytelling ">
<iframe title="Occupations and H-1B Applications" aria-label="Bar Chart" id="datawrapper-chart-0WZNZ" src="//datawrapper.dwcdn.net/0WZNZ/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1316"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
<p>Not hard to tell from the bar chart, the Professional, Scientific, and Technical Services sector dominates the H-1B petition pool, and this category itself is as high as the total number of H-1B applications than all the other top  categories combined.</p>

<p>It is no secret that employers in the technical and scientific industry are more likely to sponsor a foreign skilled workers, as the demand for talents of this particular field is still growing. As a result, a great amount of international students studying in the United States pursue degrees in the STEM (Science, technology, engineering, and mathematics) fields in hopes to be able to get hired in the United States with sponsorship one day, regardless if they like to study it or not. </p>

<p>On the other hand, it is rather hard for foreigners to get H-1B sponsorship if they are not trained STEM professionals. The disproportionally low H-1B applications rate could due to the high supply of local talents, the low demand in the industry. </p>


</div>