<div class="story-body scrollytelling ">

<div style='padding-top:250px;padding-left:30px;padding-bottom:5px;'>
  <p class = 'para'>These companies filed the most H-1B petitions in the last decade.</p>

</div>
  <div id="chart-04" style='margin:auto;padding-left:10px;'></div>  

    <div class='story'>
      <p>The top five companies that file the most H-1B applications might be different from what people might assume. No, it is not tech giants like Google, Apple, or Facebook. So what are they exactly? </p>

    </div>

  </div>

</div>
<script src="scripts/final/chart-04.js"></script>