<div class="story-body scrollytelling ">

<div style='padding-top:250px;padding-left:30px;padding-bottom:5px;'>
  <p class = 'para'>These companies filed the most H-1B petitions in the last decade.</p>

</div>
  <div id="chart-03" style='margin:auto;padding-left:10px;'></div>  

    <div class='story'>
      <p>The top five companies that file the most H-1B applications might be different from what people might assume. No, it is not tech giants like Google, Apple, or Facebook. So what are they exactly? </p>
      <p>As it turns out, they are all technologies consulting companies that focus on global IT outsourcing industry, with the majority of employees being Indian citizenss. These employers dominates the H-1B system, filing tens of thousands of H-1B petition each year.</p>
      <p>The fact that Inidian citizens taking up most of the H-1B visas avaliable is not without controversy. Filing for multiple H-1B applications to maximize the probabiilty to get drawn from the visa lottery is a common practive. On top of that, many use shell companies or make up fake positions and skill sets to fradulently apply for visas.</p>
      <p>Since President Trump took office, there has been vigorous efforts made to combat illegal immigration, and along with many enactments, eliminating H-1B visa fraud and abuse is one of them. Therefore, we saw a sharp decline in H-1B applications among the companies that recruited mostly Indian citizens. </p>

    </div>

  </div>

</div>
<script src="scripts/final/chart-03.js"></script>