<div class="story-body scrollytelling">

<div id="x" class = 'chart' style='max-width:40em;'>
    <p class = 'para'>Survey shows more than 25% of Americans think the "American Dream" is failing.</p>
</div>

<div class="steps"> 
    <div class="step"></div>
<div class="step" >
    <p class = 'toright'>Yet, every year, millions of working class people all over the world aspire to this seemingly unattainable fantasy,hoping one day to live the ideal life of comfort and happiness that the American Dream promises.  </p>
    </br></br></br></br></br></br></br></br></br>
    <p class = 'emph'>For foreign nationals, that dream is often made possible with a thing called <span style=" background-color:lightgrey ;padding-left:3px; padding-right:3px"><font color="#002868">H</font><font color="white">-1</font><font color="#BF0A30">B</font></style></span>.</p>
</div> 
<div class="step">

</div>



</div>

</div>