<div class="story-body scrollytelling ">

  <div class = 'steps'>
    <div class = 'step'>
      <img src = "images/pie.png" class = 'pie'>
      <p class = 'right'>Although the U.S. government does not have adequate data for the total number of foreign employmers working in America, it is estimated that there are roughly <strong>1.42 million</strong> temporary foreign workers who are authorized to be employed in the U.S. labor market. That number is approximately equal to <strong>1%</strong> of the U.S. labor force. Perhaps the H-1B visa does not matter much to 99% people in the labor force, but to the other 1% who need some kind of work visa as work authorization, <strong>H-1B</strong> visa is the most popular path to do so, accounting for more than <strong>32%</strong> of total work visa issued in the United States.</p>
    </div>

    <div class = 'step'>
      <img src = "images/cap.jpg" style='width:600px;margin:0 auto;'>
      <p style='max-width:600px;margin:0 auto;font-size:16px;text-align:justify;'>But getting a work visa in the first place is never easy. Since the H-1B was created in 1990s, Congress has limited the number of H-1Bs made available each year. As of now, the current annual numerical limit "cap" is 65,000 visas, with an addition of 20,000 H-1B visas for foreign professionals who graduate with a master’s degree or doctorate from a U.S. institution of higher learning.</p>
    </div>

  <div class = 'step'>
     <img src = "images/app.png" class = 'app'>
    <div class ='tb' style ='text-align:right;font-size:14px;'>
    <p>But over the years, USCIS has received more petitions than there are visa numbers available as there are always a greater number of skilled workers applying for the H-1B visas.</p>
    <p>So what happen when the number of applications exceeds the yearly quota? USCIS would conduct a lottery to determine which employers’ petitions for H-1B workers will be processed. Yes, pure luck. </p>
    <p>However, even if the applicant get drawn, it does not guarantee for approval by the USCIS. There is a chance that the USCIS will issue A Request For Evidence (RFE) to the applicants to provie additional supporting materials for their applications, and in the worst case, a rejection would be issued. </p>
    <p>Okay, but let's not forget, to qualify for the H-1B application, first the worker needs an employer sponsorship, which is not easy to get for some young professions or people working in certain industries. </p>
    </div>
  </div>
  

  
      
  </div>
</div>