<div class="story-body">
  <p>StockX is a e-commerce site with an emphasis on the sneaker resale market. Its predecessor Campless was a data savvy platform to deliver real-time price guides for in-demand shoes. The company promises data transparancy to its users.
</p>
<p>This project investigates on the sales data made public by StockX, which consists a random sample of all Off-White x Nike and Yeezy 350 sales from between September 2017 to Feburary 2019. </p>
</div>
<br><br><br>
{{!-- <div class="story-body">
  <div id="chart-01"></div>
</div>
<div class="story-body">
  <div id="chart-02"></div>
</div> --}}

<div class="story-body">
  <div id="chart-03"></div>
</div>

<br><br><br><br><br>

{{!-- <div class="story-body">
  <div id="chart-04"></div>
</div> --}}

<div class="story-body">
  <div id="chart-05"></div>
</div>

<br><br><br><br><br>

<div class="story-body">
  <div id="chart-06"></div>
</div>


{{!-- <script src="scripts/stockx/chart-01.js"></script> --}}
{{!-- <script src="scripts/stockx/chart-02.js"></script> --}}
<script src="scripts/stockx/chart-03.js"></script>
{{!-- <script src="scripts/stockx/chart-04.js"></script> --}}
<script src="scripts/stockx/chart-05.js"></script>
<script src="scripts/stockx/chart-06.js"></script>
