<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/final.css">
  {{> base/meta}}
  {{> base/fonts }}
</head>
<body>
  <!-- The headline area pulls most of its content from data/meta.json -->

  <main id='content'>

    {{{body}}}

  </main>

  <!-- We'll always keep this JS file around -->
  <script src="scripts/vendor/ai2html-resizer.js"></script>

</body>
</html>