---

---


{{!< default}}



<div class="story-body">
    <img src = 'images/hi.png'>
    <h2>This is an index page</h2>
    <p><a href="map.hbs">ai2html project</a></p>
    <p><a href="criterion.hbs">project 01</a></p>
    <p><a href="criterion_continued.hbs">project 02</a></p>
    <p><a href="homework13.hbs">homework13</a></p>
    <p><a href="stockx.hbs">StockX Project</a></p>
    <p><a href="homework15.hbs">homework15</a></p>
    <p><a href="homework17.hbs">homework17</a></p>
    
</div>
<script src="scripts/scrollytelling.js"></script>