---
headline: "Where to Find Chinese Restaurants in NYC"
subhead: "Of course, Flushing is the obvious answer. But what about other areas?"
published_date: "September 9, 2019"
siteName: "Taylor's Portfolio"
author:
    name: "Taylor Liu"
    url: "https://talola612.github.io/portfolio/"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}
    <div class="story-body"></default>
      <p class="body-text arial">If you can only think of General Tso Chicken when if comes to Chinese food, think again! </p>
      <p class="body-text arial">It is not hard to notice that the newcomer Chinese restaurants around almost every block of the city. The influx of native Chinese immigrants and international Chinese student has completely changed the game. Chinese restaurants with Americanized Chinese food are losing their market share, while the city paves path for authentic Chinese food.  </p>
      <p class="body-text arial">So if you are on a food hunting for Chinese food, or if you simply wnat to known more about this somewhat mysterious cusiine, or you are just bored and run out of things to do in the city, might as well take a look at the following density map of all the NYC neighborhood and explore where you can find Chinese food. </p>
  
<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

  {{> story/cn_map }}
  </div>

<!-- 
  Charts are exactly the same.
-->
    <div class="story-body">
      <br><br><br>
        <p class="body-text arial">See for yourself! </p>
        <p class="body-text arial">There are two more areas with quite populated Chinese restaurants besides Flushing- the one near the Lower East Side and the one on the Eighth Avenue in Brooklyn. </p>
       <p class="body-text arial"> More specifically, at downtown Manhattan, there is the famous Chinatown with more than 60 Chinese restaurants in the area. No doubt you can find some decent Chinese food there, and the price is very affordable too. The majority of the restaurants there are old school Canton styles. Although sadly Chinatown is shrinking, but the number of Chinese restaurants is actually growing to accomadate the high demands.</p>
       <p class="body-text arial"> The Sunset Park area in Brooklyn also has many Chinese restaurants, and here lays a less well-knwon but still legit Chinatown. A mix of new and old, you could find various branches of Chinese cuisine here.</p>
       <p class="body-text arial"> Finally, let's talk about Flushing. Where to begin? So many exisiting Chinese restaurants and many to come, and chances are your stomach capacity is far from matching up the abundence of delicious Chinese food there. The Chinese restaurants in Flushing are mostly more in style with the lastest food trends in China. 
        </p>
    </div>
